.create-post {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: hsl(31, 66%, 93%);
  gap: 30px;
  padding: 40px;
  align-items: center;
  justify-content: center;
}
.create-post-title {
  font-size: 40px;
  line-height: 35px;
  letter-spacing: -2px;
  font-weight: 500;
}

.create-post-icon {
  display: flex;
  width: 180px;
}
