.faster-audience {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.image-audience-growth {
  width: 120px;
}

.title-audience-growth {
  font-size: 50px;
  font-weight: 600;
}
